@model HSS.Presentation.MVC.Controllers.AppointmentItemViewModel


<div class="appointment-row @((Model.Appointment.IsConfirmed & Model.Appointment.IsStarted) ? "started " : (Model.Appointment.IsConfirmed ? "confirmed " : "")) @(Model.Appointment.IsEnd ? "ended " : "")">
        <div class="type">
            <div class="buttons @(Model.IsQueueItem ? "hide-buttons" : "") hide-buttons-for-view">
                <button class="button @(Model.Appointment.IsConfirmed? "disable-button": "confirm-appointment-btn")" title="تأكيد الحضور" data-appointment-id="@Model.Appointment.Id">
                    <span>تأكيد الحضور</span>
                    <img src="/icons/confirm-icon.svg" alt="">
                </button>
                <button class="button @(Model.Appointment.IsStarted? "disable-button": "delay-appointment-btn") " title="تأخير موعد" data-national-id="@Model.Appointment.PatientNationalId">
                    <span>تأخير الموعد</span>
                    <img src="/icons/wait-button.svg" alt="">
                </button>
                <div class="seperator"></div>
                <button class="button @(Model.Appointment.IsStarted? "disable-button": "cancel-appointment-button") " title="الغاء موعد" data-appointment-id="@Model.Appointment.Id">
                    <span>الغاء الموعد</span>
                    <img src="/icons/cancel-button.svg" alt="">
                </button>
            </div>
            <div class="buttons @(Model.IsQueueItem ? "" : "hide-buttons") hide-buttons-for-view">
                <button class="button start-appointment" title="بدأ الحجز" data-appointment-id="@Model.Appointment.Id">
                    <span>بدأ الحجز</span>
                    <img src="/icons/start-icon.svg" alt="">
                </button>
                <button class="button @(Model.Appointment.IsStarted? "disable-button": "delay-appointment-btn")" title="تأخير موعد" data-national-id="@Model.Appointment.PatientNationalId">
                    <span>تأخير الموعد</span>
                    <img src="/icons/wait-button.svg" alt="">
                </button>
                <button class="button @(Model.Appointment.IsStarted? "disable-button": "remove-appointment-from-queue")" title="الغاء موعد" data-appointment-id="@Model.Appointment.Id">
                    <span>الغاء الموعد</span>
                    <img src="/icons/cancel-button.svg" alt="">
                </button>
            </div>
            <span class="show-details-icon">
                <img src="/icons/options-icon.svg" alt="">
            </span>
            <span class="type">@Model.Appointment.AppointmentType</span>
            <span class="icon">
                <img src="/icons/retry-icon.svg" alt="">
            </span>
        </div>
        <div class="date">
            <span class="time">
                @((Model.Appointment.AppointmentDate.Value.Hour > 12 ? (Model.Appointment.AppointmentDate.Value.Hour - 12) : Model.Appointment.AppointmentDate.Value.Hour).ToString("00") + ":" + Model.Appointment.AppointmentDate.Value.Minute.ToString("00") + (Model.Appointment.AppointmentDate.Value.Hour >= 12 ? " مساءً" : " صباحاً"))
            </span>
            <span class="day">@Model.Appointment.AppointmentDate.Value.ToString("dd/MM/yyyy")</span>
        </div>
        <div class="id">
            @Model.Appointment.PatientNationalId
        </div>
        <div class="name-info">
            <span class="name">@Model.Appointment.PatientName</span>
            <span class="age">@(DateTime.UtcNow.Year -  Model.Appointment.PatientBirthDate.Year) عاما</span>
        </div>
    </div>